<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.techsol.falconnotify">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SubmitFeedbackActivity"></activity>
        <activity android:name="AdminActivities.ViewUserActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminComplaintActivity" />
        <activity android:name="AdminActivities.ViewUserComplaintActivity" />
        <activity android:name=".AddComplaintActivity" />
        <activity android:name=".UserDashboardActivity" />
        <activity android:name=".ViewComplaintsActivity" />
        <activity android:name="AdminActivities.ViewPoliceStationsActivity" />
        <activity android:name="AdminActivities.AddPoliceStationActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name="AdminActivities.DashboardActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>